<a href="https://colab.research.google.com/github/Dorcas-coder/Demo/blob/main/DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = sns.load_dataset('titanic')

In [5]:
data.shape

(891, 15)

In [6]:
data.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [7]:
data.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [8]:
data.size
data.shape
data.shape[0]*data.shape[1] ==data.size

True

In [9]:
data['fare']

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: fare, Length: 891, dtype: float64

In [10]:
data.fare

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: fare, Length: 891, dtype: float64

In [12]:
data[['class','who','adult_male']]

      class    who  adult_male
0     Third    man        True
1     First  woman       False
2     Third  woman       False
3     First  woman       False
4     Third    man        True
..      ...    ...         ...
886  Second    man        True
887   First  woman       False
888   Third  woman       False
889   First    man        True
890   Third    man        True

[891 rows x 3 columns]

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [14]:
data.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [15]:
data.age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [19]:
Avg=sum(data.age)/len(data.age)
Avg

nan

In [20]:
data.age.mean()

29.69911764705882

In [21]:
data.age.median()

28.0

In [22]:
data.age.isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: age, Length: 891, dtype: bool

In [23]:
data.isnull().sum().sum()

869

In [25]:
clean_age =data.age.dropna()
sum(clean_age)/len(clean_age)==data.age.mean()

True

In [26]:
filter_fare=data[data.fare>50]
filter_fare

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,1,1,female,45.0,1,1,164.8667,S,First,woman,False,NaN,Southampton,yes,False
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
867,0,1,male,31.0,0,0,50.4958,S,First,man,True,A,Southampton,no,True
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False

In [27]:
condition =data['age']>18
data[condition].sort_values(by='age',ascending=False)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
630,1,1,male,80.0,0,0,30.0000,S,First,man,True,A,Southampton,yes,True
851,0,3,male,74.0,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
493,0,1,male,71.0,0,0,49.5042,C,First,man,True,NaN,Cherbourg,no,True
96,0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
116,0,3,male,70.5,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,0,3,male,19.0,0,0,14.5000,S,Third,man,True,NaN,Southampton,no,True
566,0,3,male,19.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
67,0,3,male,19.0,0,0,8.1583,S,Third,man,True,NaN,Southampton,no,True
546,1,2,female,19.0,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
302,0,3,male,19.0,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True

In [28]:
conditional=data['fare']>50
data[conditional].sort_values(by='fare',ascending=False)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
737,1,1,male,35.0,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True
679,1,1,male,36.0,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False
88,1,1,female,23.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,0,1,male,42.0,1,0,52.0000,S,First,man,True,NaN,Southampton,no,False
457,1,1,female,NaN,1,0,51.8625,S,First,woman,False,D,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
571,1,1,female,53.0,2,0,51.4792,S,First,woman,False,C,Southampton,yes,False
867,0,1,male,31.0,0,0,50.4958,S,First,man,True,A,Southampton,no,True

In [31]:
c= data.drop(data[data['fare']<=50].index)
c.sort_values(by='fare',ascending=False)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
737,1,1,male,35.0,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True
679,1,1,male,36.0,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False
88,1,1,female,23.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,0,1,male,42.0,1,0,52.0000,S,First,man,True,NaN,Southampton,no,False
457,1,1,female,NaN,1,0,51.8625,S,First,woman,False,D,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
571,1,1,female,53.0,2,0,51.4792,S,First,woman,False,C,Southampton,yes,False
867,0,1,male,31.0,0,0,50.4958,S,First,man,True,A,Southampton,no,True

In [32]:
data['class'].unique()

['Third', 'First', 'Second']
Categories (3, object): ['First', 'Second', 'Third']

In [33]:
data.groupby('who')['age'].mean()

who
child     6.369518
man      33.173123
woman    32.000000
Name: age, dtype: float64

In [34]:
data.groupby('class')['fare'].mean()

<ipython-input-34-4202e11d5712>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data.groupby('class')['fare'].mean()

class
First     84.154687
Second    20.662183
Third     13.675550
Name: fare, dtype: float64

In [35]:
data.groupby('class')['age'].mean()

<ipython-input-35-188f6ef1a07c>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data.groupby('class')['age'].mean()

class
First     38.233441
Second    29.877630
Third     25.140620
Name: age, dtype: float64

In [36]:
data.groupby('class')[['age','fare']].mean()

<ipython-input-36-e3a748c0f24c>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data.groupby('class')[['age','fare']].mean()

              age       fare
class
First   38.233441  84.154687
Second  29.877630  20.662183
Third   25.140620  13.675550

In [37]:
data.groupby('class',observed=False)[['age','fare']].mean()

              age       fare
class
First   38.233441  84.154687
Second  29.877630  20.662183
Third   25.140620  13.675550

In [46]:
age_groups=['0-17','18-40','41-60','60+']

In [47]:
data['age_group']= pd.cut(data['age'], bins=[0,17,40,60,100], labels=age_groups)

In [39]:
first = data.loc[data['class']=='First']
second = data.loc[data['class']=='Second']
third = data.loc[data['class']=='Third']